/*  Overrides the default margins for MaterialUI  */
.Card-Item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px;
  margin-top: 8px !important;
}

.Card-Item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.45);
  background-color: #dce775;
  transform: scale(1.1);
  transition-duration: 0s;
  z-index: 1;
}

.Tablet-VersionTR {
  display: block !important;
  max-width: 100% !important;
}

.Tablet-VersionSR {
  max-width: 100% !important;
}

.SmallTablet-Version {
  display: block !important;
  max-width: 100% !important;
}

.PhoneSize-Version {
  display: block !important;
  max-width: 100% !important;
}
